/* root */

*{
  /* bootstrap konfigrasyonu */
  --bs-box-shadow: 0 0 0rem rgba(0, 0, 0, 0.15);
  --bs-toast-box-shadow:var(--bs-box-shadow)
}

html{
  overflow-x: hidden;
}

body{
  height: 100vh !important;
  font-family: 'Nunito', sans-serif;
  font-family: 'Red Hat Display', sans-serif;

  overflow-x: hidden;
}



