// layout

div#x_auth{
    position: absolute; 
    display:flex; 
    width: 425px; 
    min-height:85%; 
    background:white; 
    box-sizing: border-box;
    overflow: hidden !important; 
    padding:20px; 
    border-radius:$radiusMedium !important;

    @extend %translateXY;

    .wrapper .auth{
        header#layout{
            background-color:transparent;

            .loading{
                width: 47px; 
                height: 47px; 
                margin:0 auto;
            }
        }

        hr#layout{
            width:10%; 
            height: 4px; 
            background: #000; 
            border-radius:999px; 
            border: none; 
            margin:10px auto 0px; 
            opacity: 1;
        }

        h1#layout-title{
            text-align: center; 
            font-weight: bolder; 
            font-size: 20px; 
        }

        div.content{
            flex:100; display:block !important;

            .content-error{
                position: relative; 
                border-radius:5px; 
                max-height:90px; 
                background:transparent; 
                margin-bottom:30px; 
                overflow:hidden;
            
                .gradient-bar{
                    content:''; 
                    bottom:0; 
                    position: absolute; 
                    width: 100%; 
                    height:40%; 
                    background:linear-gradient(0deg, #ffffff, transparent)
                }
                div.toast{width: 100% !important; }
            }
        }

        footer#layout{
            background-color: transparent;

            .buttonGroup{
                grid-template-columns: 15% auto 15%;  
                height:40px; 
                margin-bottom:10px; 
                gap:0 5px;
                
            
                a:nth-child(2){
                    text-align: center;
                }
    
                a:nth-child(2) .xButton{ // => düzenlenicek
                    background-color: black ;
                    color:white !important
                }
    
                a:nth-child(3) .xButton{ // => düzenlenicek
                    background-color: black ; 
                    color:white !important
                }
            }

            p.footerCompanyText{
                text-align: center; 
                
                align-self: center; 
                font-weight: 900; 
                letter-spacing: 0.5px; 
                font-size: 9px; 
                color:#c2c2c2
            }

            img.footerCompanyLogo{
                width: 13px; 
            }

        }
    }
}