/* layout */

div#x_auth{ position: absolute; display:flex; width: 450px; min-height:80%; background:white; box-sizing: border-box;overflow: hidden !important; padding:20px; border-radius: 10px; box-shadow: 0 0 10px -5px #969494; transform: translate(-50%,-50%); left:50%; top:50%; }

div#x_auth > .wrapper{flex: 1;}
div#x_auth .wrapper .auth{flex: 1; display: flex; flex-direction: column; justify-content: space-between;}

div#x_auth > .wrapper .auth header#layout{flex:0; position: relative; top:0; width: 100%; padding:0px 0px 0px 0px; background-color:transparent; display: flex;}
div#x_auth > .wrapper .auth header#layout .loading{width: 47px; height: 47px; margin:0 auto;}
div#x_auth > .wrapper .auth header#layout .loading .circle .logo{padding:0}

div#x_auth > .wrapper .auth header#layout .loading .circle , .circle {filter:gray(100%);animation: appear 4s  forwards;animation-iteration-count: infinite;position: relative;top: 50%;right: 0;bottom: 0;transform:rotate(0deg);left: 50%;transform:translate(-50%,-50%);height:47px;width:47px;}
div#x_auth > .wrapper .auth header#layout .loading .circle div, .circle div {position: absolute;width: 100%;height: 100%;display: flex;padding: 5px;transition: all 0.5s;}
div#x_auth > .wrapper .auth header#layout .loading .circle div, .circle div{flex:1;}
div#x_auth > .wrapper .auth header#layout .loading .circle div img.loading, .circle div img.loading {flex: 1; padding: 0;}
div#x_auth > .wrapper .auth header#layout .loading .circle .circleone, .circle .circleone{animation-name: spinx;animation-duration:3s;animation-iteration-count: infinite;}
div#x_auth > .wrapper .auth header#layout .loading .circle .circletwo, .circle .circletwo {animation-name: spiny;animation-duration:3.05s;animation-iteration-count: infinite;text-align: center;}
div#x_auth > .wrapper .auth header#layout .loading .circle .circlethree, .circle .circlethree{border-radius:20%;transform: rotate(45deg);animation-name: spinz;animation-duration:3s;animation-iteration-count: infinite;text-align: center;}
div#x_auth > .wrapper .auth header#layout .loading .circle .circleone,.circletwo,.circlethree,.circlefour, .circle .circleone,.circletwo,.circlethree,.circlefour{display:block !important;position: absolute;height:  100%;width:  100%;border-radius: 100%;border: 2px solid #000;text-align: center;}

div#x_auth > .wrapper .auth hr#layout{ width:10%; height: 4px; background: #000; border-radius:999px; border: none; margin:10px auto 0px; opacity: 1;}
div#x_auth > .wrapper .auth h1#layout-title{text-align: center; font-weight: bolder; font-size: 20px; text-transform: capitalize ;}

div#x_auth > .wrapper .auth div.content{flex:100; display:block !important;}
div#x_auth > .wrapper .auth div.content > .content-error{position: relative; border-radius:5px; max-height:90px; background:transparent; margin-bottom:30px; overflow:hidden;}
div#x_auth > .wrapper .auth div.content > .content-error > .gradient-bar{content:''; bottom:0; position: absolute; width: 100%; height:40%; background:linear-gradient(0deg, #ffffff, transparent)}
div#x_auth > .wrapper .auth div.content > .content-error > div{width: 100% !important; }

div#x_auth > .wrapper .auth footer#layout{flex:0; position: relative;  bottom:0; width: 100%; background-color: transparent;}
div#x_auth > .wrapper .auth footer#layout .buttonGroup{overflow: hidden; display: grid; grid-template-columns: 15% auto 15%;  height:35px; margin-bottom:10px; gap:0 5px;}
div#x_auth > .wrapper .auth footer#layout .buttonGroup a:nth-child(2){text-align: center;}
div#x_auth > .wrapper .auth footer#layout .buttonGroup a:nth-child(2) .x-button{ background-color: black !important; color:white !important}
div#x_auth > .wrapper .auth footer#layout .buttonGroup a:nth-child(3) .x-button{background-color: black !important; color:white !important}
div#x_auth > .wrapper .auth footer#layout  p{margin-bottom:0; text-align: center; flex:1;  align-self: center; font-weight: 900; letter-spacing: 0.5px; font-size: 8px; color:#c2c2c2}
div#x_auth > .wrapper .auth footer#layout img.footerCompanyLogo{width: 9px; }

